
div title="Count days from salary"
  'Statistics progress bar (beta-testing, just ignore this):

  div id="progress_bar" class="statistics-progress-bar"
    div id="progress_bar_line" class="statistics-progress-bar-line statistics-progress-bar-line-#{progress_bar_color(@month_hours)}" style="width:#{progress_bar_percents()}%"


