h1 Добавлено новое оповещение!

ul
  li Название: #{@notify.title}
pre
  = @notify.description

br

= link_to "Смотреть все оповещения", notifications_url
br
= link_to "Ссылка на оповещение", notification_url(@notify)
