span.badge
  &.importance-1
    background-color: #999BA9
  &.importance-2
    background-color: #46908A
  &.importance-3
    background-color: #FCE203
  &.importance-4
    background-color: #f89406
  &.importance-5
    background-color: #b94a48

.statistic_fields input[type="text"]
  margin-right: 15px

.page-list
  padding: 5px

.statistics-progress-bar
  width: 40%
  height: 20px
  border: 1px solid brown
  border-radius: 4px
  background-color: white
  padding: 0

.statistics-progress-bar-line
  height: 100%
  margin: 0
  background-image: url(statistics-progress-bar-line.svg)

.statistics-progress-bar-line-green
  background-color: green

.statistics-progress-bar-line-red
  background-color: red

.statistics-progress-bar-line-yellow
  background-color: yellow
