span.badge
  &.importance-1
    background-color: #999BA9
  &.importance-2
    background-color: #46908A
  &.importance-3
    background-color: #FCE203
  &.importance-4
    background-color: #f89406
  &.importance-5
    background-color: #b94a48

.statistic_fields input[type="text"]
  margin-right: 15px

.page-list
  padding: 5px

.statistics-progress-bar
  width: 40%
  height: 20px
  border: 1px solid brown
  border-radius: 4px
  background-color: white
  padding: 0

.statistics-progress-bar-line
  height: 100%
  margin: 0
  background-image: url(statistics-progress-bar-line.svg)

.statistics-progress-bar-line-green
  background-color: green

.statistics-progress-bar-line-red
  background-color: red

.statistics-progress-bar-line-yellow
  background-color: yellow

.bg-white
  background-color: white

.without-margin
  margin: 0 !important

.big-icon
  line-height: 120px
  font-size: 120px

.button_padding
  margin-top: 1.6em

.input-100-percent
  width: 100%

.fast-date
  margin-bottom: 0

.statistic_fields
  margin-bottom: 0

.inline
  padding: 0
  margin: 0
  li
    display: inline-block
    margin: 0 8px 0 0

.resized_input
  width: 96%

select.resized_input
  width: 100%

.copy-btn
  margin-top: 23px